

/*Computer resolution under 1440px row*/
@media only screen and (max-width:1600px) {
    section {padding: 50px 0;}
    .hero-text-box {
        width: 700px;
        left: 2%;
        padding: 0 2%;
    }
    .row {padding: 0 3%;}
    .project-box {height: 500px;}

}

/*Big tablets to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width:1200px) {
    section {padding: 40px 0;}
    body {font-size: 18px;}
    .hero-text-box {width: 500px;}
    .project-box {height: 400px;}
    .workheader {
        height: 30vh;
        background-attachment: fixed;
        background-size: 100vw;
        background-position-y: 0;
        background-position-x: 0;
        background-repeat: no-repeat;
    }
}

/*Small tablets to big tablets: from 768 to 1023px*/
@media only screen and (max-width:1023px) {
    .project-box {height: 380px;}
    

}

/*Small phones to small tablets: from 481 to 767px*/
@media only screen and (max-width:767px) {
    body {font-size: 14px;}
    section {padding: 30px 0;}
    .hero-text-box {width: 480px;}
    .project-box {height: 300px;}
    .main-nav {
        font-size: 110%;
        margin-top: 55px;
    }
    .project-description-small p {
        font-size: 130%;
        line-height: 1.2;
    }
    h3 {
        font-size: 140%;
    }
    .workheader {
        background-size: 200vw;
        background-position-x:-50vw ;
    }
}

/*only for menu*/
@media only screen and (max-width:609px) {
    .main-nav {
        margin-top: 0px;
        float: left;
    }
    .main-nav li:first-child {margin-left: 10px;}
    a.home {
        font-size: 120%;
        margin-left: 10px;
        height: 50px;
    }
    
}

/*Small phones: from 0 to 480px*/
@media only screen and (max-width:480px) {
    a.home {margin-top: 30px;}
    body {font-size: 12px;}
    section {padding: 20px 0;}
    .hero-text-box {
        padding-top: 40px;
        width: 300px;}
    .project-box {
        height: 300px;
        margin-bottom: 20px;
    }
    .main-nav {
        line-height: 2;
        font-size: 120%;
        }
    .main-nav li {margin-left: 10px;}
    .main-nav li {margin-right: 300px;}
    footer {padding: 20px;}
    .social-links li:last-child {margin-right: 20px;}
    .project-description-small p {
        margin-bottom:20px;
    }
    .project-description-small h3 {
        margin-bottom: 5px;
    }
    
}